#nombre{
    color:   #34495e;
}
#item1{
    color:   #873600;
}
#lista{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}